// Generic

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

html {
  color: $text-dark;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.414;
}

body, #__nuxt, #__layout, .layout {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  padding-bottom: 5px;
}

h2, h3 {
  padding-bottom: 2px;
}

p {
  font-size: 1em;
  line-height: 30px;
  padding: 5px 0;
}

// Common

.page {
  min-height: calc(100vh - 110px);
  padding-top: 60px;
}

.page--splash {
  min-height: calc(100vh - 100px);
  padding-top: 70px;
}

.page.company,
.page.company .page__content,
.page.project,
.page.project .page__content {
  background-color: $background-dark;
}

.page.error {
  position: relative;
}

.page.error .missing {
  @include centralize;
  display: block;
  margin: auto;
  text-align: center;
  width: 100vw;
}

.content {
  z-index: 5;
}

.page__content {
  background-color: $background-light;
  position: relative;
  z-index: 6;
}

.background {
  overflow: hidden;
  width: 100%;
}

.card {
  @include box-shadow(0 4px 8px 0 $shadow-dark);
  @include transition(all .3s ease);
}

.card:hover {
  @include box-shadow(0 8px 16px 0 $shadow-dark);
}

.stylized,
.code {
  font-family: 'Roboto Mono', monospace;
}

// Media Queries

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1201px) {
  html {
    font-size: 20px;
  }
}
