// Frame

.article {
  margin: 5px 15px 15px 5px;
  padding: 15px 5px 15px 5px;
}

// Text

.article__header {
  margin-bottom: 10px;
}

.article__title {
  @include animation(raise .4s ease-in-out both);
  display: block;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 5px;
}

.article__subtitle {
  @include animation(raise .4s ease-in-out .1s both);
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 5px;
}

.article__text {
  @include animation(raise .4s ease-in-out .1s both);
  @include boost-readability;
  margin: 10px 0;
}

// Tags and Links

.article__tags,
.article__links {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include use-flex;
  margin: 5px 0;
}

.article__tag,
.article__link {
  @include box-shadow(0 2px 4px $shadow-light);
  background-color: $backing-light;
  border-radius: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: .66em;
  font-weight: 500;
  margin: 5px;
  min-width: 36px;
  padding: 4px 8px;
}

.article__tag:nth-child(1),
.article__link:nth-child(1) {
  margin-left: 0;
}

@for $i from 1 to 7 {
  .article__tag:nth-child(#{$i}),
  .article__link:nth-child(#{$i}) {
    @include animation(raise .4s ease-in-out unquote(".#{$i}s") both);
  }
}

.article__link {
  @include box-shadow(0 2px 4px $shadow-light);
  @include transition(all .3s ease);
  background-color: $backing-dark;
  color: $text-light;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  opacity: 0;
  padding: 5px 10px;
  text-decoration: none;
}

.article__link:hover {
  @include box-shadow(0 4px 8px $shadow-light);
  background-color: $backing-darker;
}

.article__link-icon {
  @include min-square(1.2em);
  margin: 0 2px -3px 0;
}

// Media Queries

@media (max-width: 720px) {
  .article__links {
    @include align-items(flex-start);
    @include flex-direction(column);
    @include justify-content(center);
  }
  .article__link {
    margin-left: 0;
  }
}
