@import '../colors.scss';
@import '../mixins.scss';

// Frame

.footer {
  background-color: #455a64;
  min-height: 110px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.footer.splash {
  background-color: transparent;
  min-height: 100px;
}

// Content

.footer__content {
  @include centralize;
  width: 100%;
}

// Text

.footer__text {
  @include animation(raise .4s ease-in-out both);
  color: rgba(240, 240, 240, .7);
  display: block;
  font-size: .8em;
  margin: 0 auto 20px auto;
  text-align: center;
  width: 100%;
}

.footer__subtext {
  @include animation(raise .4s ease-in-out .1s both);
  bottom: 0;
  color: rgba(240, 240, 240, .7);
  display: block;
  float: right;
  font-size: .8em;
  margin: 5px 10px;
  position: absolute;
  right: 0;
  text-align: center;
}

// Social Buttons

.social {
  background-color: transparent;
  margin: auto;
  text-align: center;
  width: 100%;
}

.social__content {
  display: inline-block;
}

.social__button {
  @include transition(all .3s ease);
  display: inline-block;
  margin: 0 5px;
  opacity: .7;
  z-index: 15;
}

.social__button:hover {
  opacity: 1;
}

@for $i from 1 to 6 {
  .social__button:nth-child(#{$i}) {
    @include animation(raise-translucent .4s ease-in-out unquote(".#{$i + 1}s") backwards);
  }
}

.social__logo {
  @include min-square(35px);
}

.social__logo svg {
  @include box-shadow(0 4px 8px 0 rgba(0, 0, 0, .2));
}

// Media Queries

@media (max-width: 600px) {
  .social__logo {
    @include min-square(25px);
  }
}

// Keyframes

@include keyframes(raise-translucent) {
  0% {
    @include transform(translateY(30px));
    opacity: 0;
  }
  100% { @include transform(translateY(0)) }
}
