// Frame

.gallery {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

// Content

.gallery__content {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include use-flex;
  width: 100%;
}

.gallery__content.standalone {
  @include justify-content(flex-start);
}

// Images

.gallery__image--main {
  @include animation(raise .4s ease-in-out both);
  @include box-shadow(0 4px 8px 0 $shadow-light);
  border-radius: 6px;
}

.gallery__supp-images {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include use-flex;
  max-height: 430px;
  max-width: 570px;
}

.gallery__image--supp {
  @include box-shadow(0 4px 8px 0 $shadow-light);
  border-radius: 6px;
}

@for $i from 1 to 5 {
  .gallery__supp-images .gallery__image-container:nth-child(#{$i}) {
    @include animation(raise .4s ease-in-out unquote(".#{$i}s") both);
  }
}

.gallery__image--main img,
.gallery__image--main video,
.gallery__image--supp img,
.gallery__image--supp video {
  border-radius: 6px;
  object-fit: cover;
}

.gallery__image--main,
.gallery__image--main img,
.gallery__image--supp,
.gallery__image--supp img {
  outline: none;
}

// Media Queries

@media (max-width: 600px) {
  .gallery__image--main {
    margin: 0 5px 5px 0;
    min-height: calc(.75 * (100vw - 120px));
    min-width: calc(100vw - 120px);
  }
  .gallery__supp-images {
    min-height: calc(.75 * (100vw - 120px));
    min-width: calc(100vw - 120px);
  }
  .gallery__image--supp {
    margin: 0 5px 0 0;
    min-height: calc(.49 * .75 * (100vw - 120px));
    min-width: calc(.49 * (100vw - 120px));
  }
}

@media (min-width: 601px) and (max-width: 1287px) {
  .gallery__image--main {
    margin: 0 5px 5px 0;
    min-height: calc(.75 * .45 * (100vw - 100px) + 20px);
    min-width: calc(.45 * (100vw - 100px) + 20px);
  }
  .gallery__supp-images {
    max-height: calc(.75 * .45 * (100vw - 100px) + 25px);
    max-width: calc(.45 * (100vw - 100px) + 25px);
  }
  .gallery__image--supp {
    margin: 0 5px 0 0;
    min-height: calc(.75 * .22 * (100vw - 100px) + 10px);
    min-width: calc(.22 * (100vw - 100px) + 10px);
  }
}

@media (min-width: 1288px) {
  .gallery__image--main {
    margin: 0 0 10px 0;
    min-height: 400px;
    min-width: 533px;
  }
  .gallery__supp-images {
    margin-left: -5px;
    max-height: 430px;
    max-width: 570px;
  }
  .gallery__image--supp {
    margin: 0 10px 5px 0;
    min-height: 195px;
    min-width: 260px;
  }
}
