// Frame

.header {
  height: 60px;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.header.splash {
  @include box-shadow(none);
  background-color: transparent;
  height: 70px;
  padding: 10px 0;
}

.header__background {
  @include transition(all .3s ease);
  background-color: $backing-darker;
  height: 60px;
  left: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

// Avatar

.avatar__image {
  @include animation(drop-translucent .4s ease-in-out both);
  @include min-square(38px);
  background-color: $backing-light;
  border-radius: 50%;
  margin: 0 15px -12px 13px;
}

.avatar__image img {
  @include min-square(38px);
  display: inline;
  float: left;
  object-fit: cover;
  opacity: .8;
  padding: 10px;
}

// Links

.header:not(.splash) .links {
  float: right;
}

.links {
  display: inline-block;
  float: right;
  height: 60px;
  margin: 12px 8px 0 0;
  overflow: visible;
}

@for $i from 1 to 5 {
  .links .link:nth-child(#{$i}) {
    @include animation(drop .4s ease-in-out unquote(".#{$i - 1}s") both);
  }
}

.links--mobile {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  @include use-flex;
  overflow: visible;
}

.links--mobile * {
  overflow: visible;
}

.links--mobile .link {
  @include pointer-events(auto);
  background: transparent;
  display: block;
  height: 50px;
}

.links--mobile .link__container {
  background-color: $backing-lighter;
}

.button, .link {
  background-color: transparent;
  border: 0;
  display: inline-block;
  outline: none;
}

.link:not(.logo__button) {
  margin: 0 10px;
}

.link__container {
  @include transition(all .3s ease);
  background-color: $backing-light;
  border-radius: 1em;
  margin: 0 auto;
  overflow: visible;
  padding: 4px 0;
  text-align: center;
  width: 5em;
}

.link__container:hover {
  background-color: $backing-lightest;
}

.link__content {
  color: $text-dark;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 12px;
  text-decoration: none;
}

// Logo

.logo {
  @include animation(drop .4s ease-in-out both);
  display: inline-block;
  height: 60px;
}

.logo__button {
  height: 60px;
}

.splash .logo__content {
  margin: 10px 0 0 10px;
}

.logo__content {
  color: $text-light-translucent;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 15px 0 0 0;
  text-decoration: none;
}

// Menu

.menu {
  display: inline-block;
  float: right;
  overflow-x: hidden;
}

.splash .menu__button {
  top: 20px;
}

.menu__button {
  @include animation(drop .4s ease-in-out both);
  @include box-shadow(0 4px 8px 0 $shadow-dark);
  @include transition(all .3s ease);
  background-color: $backing-light;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  padding: 5px;
  position: fixed;
  right: 15px;
  top: 10px;
  width: 36px;
  z-index: 15;
}

.menu__button:hover {
  @include box-shadow(0 8px 16px 0 $shadow-dark);
  background-color: $backing-lightest;
}

.menu__button svg {
  color: $text-dark-translucent;
  height: 100%;
  width: 100%;
}

.splash .menu__panel {
  padding-top: 5px;
}

.menu__panel {
  @include pointer-events(none);
  @include transition(all .6s ease);
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  z-index: 10;
}

.menu__panel.hiding .link {
  @include transform(translateX(150px));
}

.menu__panel:not(.hiding) .link {
  @include transform(translateX(-75px));
}

.menu__panel .link {
  @include transition(all .4s ease);
}

@for $i from 1 to 5 {
  .menu__panel .link:nth-child(#{$i}) {
    @include transition-delay(unquote("#{($i - 1) * 50}ms"));
  }
}

.menu__content {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include transition(all .6s ease);
  @include use-flex;
  height: 100%;
  margin-top: 70px;
  overflow: visible;
  width: 100%;
}

// Media Queries

@media (max-width: 800px) {
  .header__background {
    background-color: $backing-darkest;
    border-radius: 20px;
    height: 35px;
    left: 60px;
    opacity: 0;
    padding: 0;
    position: fixed;
    top: 12px;
    width: 120px;
    z-index: 10;
  }
  .header:not(.splash) .logo__content {
    color: $text-light-translucent;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  .links {
    @include hidden;
  }
  .avatar__image {
    @include box-shadow(0 4px 8px 0 $shadow-dark);
    @include transition(all .3s ease);
  }
  .avatar__image:hover {
    @include box-shadow(0 8px 16px 0 $shadow-dark);
  }
}

@media (min-width: 801px) {
  .menu {
    @include hidden;
  }
  .header:not(.splash) .link__container {
    @include box-shadow(none);
    background-color: $backing-lighter;
  }
  .header:not(.splash) .link__container:hover {
    background-color: $backing-lightest;
  }
}

@media (min-width: 1201px) {
  .links {
    margin: 10px 8px 0 0;
  }
}
