// Frame

.jumbotron {
  height: 300px;
  margin-top: -60px;
  position: relative;
}

// Content

.jumbotron__content {
  @include centralize;
}

// Image

.jumbotron__image {
  @include min-square(150px);
  display: block;
  margin: 0 auto;
  text-align: center;
}

// Text

.jumbotron__title {
  @include animation(drop .4s ease-in-out both);
  color: $text-light-translucent;
  display: block;
  font-size: 2.2em;
  font-weight: 500;
  margin: 60px auto 40px auto;
  text-align: center;
}

.jumbotron__subtitle {
  @include animation(drop .4s ease-in-out .2s both);
  @include boost-readability;
  color: $text-light-translucent;
  display: block;
  font-size: 1em;
  font-weight: 500;
  margin: auto;
  text-align: center;
  width: 80vw;
}

// Buttons and Links

.jumbotron__actions {
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(center);
  @include use-flex;
  margin: 5px auto 0 auto;
  width: fit-content;
}

.jumbotron__link {
  display: block;
  margin: 15px 10px;
  width: fit-content;
}

.jumbotron__button {
  @include transition(all .3s ease);
  border-radius: 30px;
  border: 2px solid $backing-lighter;
  color: $backing-lighter;
  cursor: pointer;
  font-size: .8em;
  font-weight: 500;
  padding: 5px 10px;
  white-space: nowrap;
}

@for $i from 1 to 5 {
  .jumbotron__link:nth-child(#{$i}) {
    @include animation(drop .4s ease-in-out unquote(".#{$i + 3}s") both);
  }
}

.jumbotron__button:hover {
  background-color: $backing-lighter;
  color: $text-dark;
}

// Waves

.background-wave {
  @include animation(drift 3s infinite linear);
  @include transform-origin(50% 48%);
  background: $wave-light;
  border-radius: 43%;
  height: 600px;
  left: 50%;
  margin: -300px 0 0 -300px;
  opacity: .1;
  position: absolute;
  top: 400px;
  width: 600px;
}

.background-waves {
  height: 600px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.background-wave:nth-child(2) {
  @include animation(drift 7s infinite linear);
  background: $wave-dark;
  opacity: .05;
}

.background-wave:nth-child(3) {
  @include animation(drift 5s infinite linear);
}

// Media Queries

@media (max-width: 600px) {
  .jumbotron__title {
    font-size: 1.8em;
    margin: 60px 0 30px 0;
  }
  .jumbotron__image {
    @include min-square(100px);
  }
}
