.mockup {
  -webkit-animation: floating 5s infinite ease-in-out both;
  -moz-animation: floating 5s infinite ease-in-out both;
  animation: floating 5s infinite ease-in-out both;

  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  box-sizing: border-box;
  margin: 0;
}

.wide.portrait.mockup {
  padding: 2em .9em 0 .9em;
}

.narrow.portrait.mockup {
  padding: 1.7em .9em .3em .9em;
}

.landscape.mockup {
  padding: 3.5em .9em .5em .9em;
}

.mockup__container {
  margin: 0 3em;
  position: relative;
}

.mockup__image,
.mockup__shadow {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

  transform-style: preserve-3d;
}

.portrait .mockup__shadow {
  -webkit-animation: shadow-spread-portrait 5s infinite ease-in-out both;
  -moz-animation: shadow-spread-portrait 5s infinite ease-in-out both;
  animation: shadow-spread-portrait 5s infinite ease-in-out both;
}

.landscape .mockup__shadow {
  -webkit-animation: shadow-spread-landscape 5s infinite ease-in-out both;
  -moz-animation: shadow-spread-landscape 5s infinite ease-in-out both;
  animation: shadow-spread-landscape 5s infinite ease-in-out both;
}

.portrait .mockup__image,
.portrait .mockup__shadow {
  -webkit-transform: rotateX(45deg) rotateZ(-45deg);
  -moz-transform: rotateX(45deg) rotateZ(-45deg);
  transform: rotateX(45deg) rotateZ(-45deg);
}

.landscape .mockup__image,
.landscape .mockup__shadow {
  -webkit-transform: rotateX(50deg) rotateZ(-40deg);
  -moz-transform: rotateX(50deg) rotateZ(-40deg);
  transform: rotateX(50deg) rotateZ(-40deg);
}

.mockup__image {
  position: relative;
}

.mockup__image::before,
.mockup__image::after {
  content: '';
  position: absolute;
}

.mockup__image::before {
  -webkit-transform: rotateX(90deg) translateY(-4px);
  -moz-transform: rotateX(90deg) translateY(-4px);
  transform: rotateX(90deg) translateY(-4px);

  background-color: #d0d0d0;
  bottom: -4px;
  height: 8px;
  left: 0;
  width: 100%;
}

.mockup__image::after {
  -webkit-transform: rotateY(90deg) translateX(4px);
  -moz-transform: rotateY(90deg) translateX(4px);
  transform: rotateY(90deg) translateX(4px);

  background-color: #bbb;
  height: 100%;
  left: -4px;
  top: 0;
  width: 8px;
}

.isometric__image {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

  vertical-align: bottom;
}

.wide.portrait .isometric__image {
  max-height: 420px;
  max-width: 315px;
}

.wide.landscape .isometric__image {
  max-height: 360px;
  max-width: 480px;
}

.narrow.portrait .isometric__image {
  max-height: 420px;
  max-width: 236px;
}

.narrow.landscape .isometric__image {
  max-height: 270px;
  max-width: 480px;
}

.isometric__image img {
  object-fit: cover;
}

.mockup__shadow {
  -webkit-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
  box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Keyframes

@-webkit-keyframes floating {
  0% { -webkit-transform: translateY(0) }
  50% { -webkit-transform: translateY(-15px) }
  100% { -webkit-transform: translateY(0) }
}

@-moz-keyframes floating {
  0% { -moz-transform: translateY(0) }
  50% { -moz-transform: translateY(-15px) }
  100% { -moz-transform: translateY(0) }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shadow-spread-portrait {
  0% {
    -webkit-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);

    -webkit-transform: rotateX(45deg) rotateZ(-45deg) translateY(0);
    transform: rotateX(45deg) rotateZ(-45deg) translateY(0);
  }

  50% {
    -webkit-box-shadow: -40px 60px 20px rgba(0, 0, 0, .08);
    -moz-box-shadow: -40px 60px 20px rgba(0, 0, 0, .08);
    box-shadow: -40px 60px 20px rgba(0, 0, 0, .08);

    -webkit-transform: rotateX(45deg) rotateZ(-45deg) translateY(10px);
    transform: rotateX(45deg) rotateZ(-45deg) translateY(10px);
  }

  100% {
    -webkit-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);

    -webkit-transform: rotateX(45deg) rotateZ(-45deg) translateY(0);
    transform: rotateX(45deg) rotateZ(-45deg) translateY(0);
  }
}

@keyframes shadow-spread-landscape {
  0% {
    -webkit-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);

    -webkit-transform: rotateX(50deg) rotateZ(-40deg) translateY(0);
    transform: rotateX(50deg) rotateZ(-40deg) translateY(0);
  }

  50% {
    -webkit-box-shadow: -40px 60px 20px rgba(0, 0, 0, .08);
    -moz-box-shadow: -40px 60px 20px rgba(0, 0, 0, .08);
    box-shadow: -40px 60px 20px rgba(0, 0, 0, .08);

    -webkit-transform: rotateX(50deg) rotateZ(-40deg) translateY(10px);
    transform: rotateX(50deg) rotateZ(-40deg) translateY(10px);
  }

  100% {
    -webkit-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);
    box-shadow: -30px 40px 10px rgba(0, 0, 0, .1);

    -webkit-transform: rotateX(50deg) rotateZ(-40deg) translateY(0);
    transform: rotateX(50deg) rotateZ(-40deg) translateY(0);
  }
}
