@import '../colors.scss';
@import '../mixins.scss';

// Frame

.preview {
  @include box-shadow(0 4px 8px 0 rgba(0, 64, 128, .2));
  border-radius: 6px;
  box-sizing: border-box;
  margin: 20px;
  overflow: visible;
}

// Content

.preview__content {
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

// Links

.preview__link {
  @include transition(all .4s ease);
  border-radius: 6px;
  color: inherit;
  height: 100%;
  width: 100%;
}

.preview__link:hover .preview__description {
  @include transform(translateY(0));
  max-height: 80px;
}

.preview__link:hover .preview__info-pane {
  @include transform(translateY(0));
}

.preview__link:hover .preview__info-pane::before {
  @include transform(translateY(15px));
}

// Tags

.preview__tags {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(start);
  @include use-flex;
  margin: 5px 0;
}

.preview__tag {
  @include box-shadow(0 2px 4px rgba(0, 64, 128, .1));
  background-color: rgba(255, 255, 255, .7);
  border-radius: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: .66em;
  font-weight: 500;
  margin: 5px;
  min-width: 36px;
  padding: 4px 8px;
  text-align: center;
}

.preview__tag:nth-child(1) {
  margin-left: 0;
}

// Image

.preview__image {
  @include min-square(100%);
  @include transition(all .4s ease);
  border-radius: 6px;
  z-index: 1;
}

.preview__image img {
  @include transform(scale(1.07) translateY(10px));
  @include transition(all .4s ease);
  object-fit: cover;
}

// Info Pane

.preview__info-pane {
  @include transform(translateY(15px));
  @include transition(all .4s ease);
  background-color: rgba(255, 255, 255, .8);
  background: inherit;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 20px 15px 20px;
  position: absolute;
  right: 0;
  z-index: 5;
}

.preview__info-pane::before {
  @include box-shadow(inset 0 0 0 300px rgba(255, 255, 255, .75));
  @include filter(blur, 8px);
  @include transition(all .4s ease);
  bottom: 0;
  content: ' ';
  height: calc(100% + 40px);
  left: -15px;
  position: absolute;
  right: 0;
  top: -30px;
  width: calc(100% + 30px);
  z-index: -1;
}

// Text

.preview__title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  margin: 5px 0;
}

.preview__subtitle {
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
}

.preview__description {
  @include boost-readability;
  @include transform(translateY(30px));
  @include transition(all .4s ease);
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  max-height: 0;
}

// Media Queries

@media (max-width: 640px) {
  .preview {
    @include min-square(80vw);
  }
  .todo-list .preview__info-pane::before {
    background: url(/images/previews/todolist.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .weight .preview__info-pane::before {
    background: url(/images/previews/weight.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .bubble .preview__info-pane::before {
    background: url(/images/previews/bubble.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .food-logging .preview__info-pane::before {
    background: url(/images/previews/food-logging.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .sat-solver .preview__info-pane::before {
    background: url(/images/previews/sat-solver.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .hypedyn .preview__info-pane::before {
    background: url(/images/previews/hypedyn.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .bitsy .preview__info-pane::before {
    background: url(/images/previews/bitsy.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .pokemania .preview__info-pane::before {
    background: url(/images/previews/pokemania.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .little-lives .preview__info-pane::before {
    background: url(/images/previews/little-lives.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .urbanzoom .preview__info-pane::before {
    background: url(/images/previews/urbanzoom.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .react-chat .preview__info-pane::before {
    background: url(/images/previews/react-chat.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
  .portfolio .preview__info-pane::before {
    background: url(/images/previews/portfolio.png) no-repeat center bottom;
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
}

@media (min-width: 641px) and (max-width: 1400px) {
  .preview {
    @include min-square(40vw);
  }
  .todo-list .preview__info-pane::before {
    background: url(/images/previews/todolist.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .weight .preview__info-pane::before {
    background: url(/images/previews/weight.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .bubble .preview__info-pane::before {
    background: url(/images/previews/bubble.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .food-logging .preview__info-pane::before {
    background: url(/images/previews/food-logging.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .sat-solver .preview__info-pane::before {
    background: url(/images/previews/sat-solver.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .hypedyn .preview__info-pane::before {
    background: url(/images/previews/hypedyn.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .bitsy .preview__info-pane::before {
    background: url(/images/previews/bitsy.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .pokemania .preview__info-pane::before {
    background: url(/images/previews/pokemania.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .little-lives .preview__info-pane::before {
    background: url(/images/previews/little-lives.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .urbanzoom .preview__info-pane::before {
    background: url(/images/previews/urbanzoom.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .react-chat .preview__info-pane::before {
    background: url(/images/previews/react-chat.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
  .portfolio .preview__info-pane::before {
    background: url(/images/previews/portfolio.png) no-repeat center bottom;
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .preview {
    @include min-square(25vw);
  }
  .todo-list .preview__info-pane::before {
    background: url(/images/previews/todolist.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .weight .preview__info-pane::before {
    background: url(/images/previews/weight.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .bubble .preview__info-pane::before {
    background: url(/images/previews/bubble.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .food-logging .preview__info-pane::before {
    background: url(/images/previews/food-logging.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .sat-solver .preview__info-pane::before {
    background: url(/images/previews/sat-solver.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .hypedyn .preview__info-pane::before {
    background: url(/images/previews/hypedyn.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .bitsy .preview__info-pane::before {
    background: url(/images/previews/bitsy.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .pokemania .preview__info-pane::before {
    background: url(/images/previews/pokemania.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .little-lives .preview__info-pane::before {
    background: url(/images/previews/little-lives.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .urbanzoom .preview__info-pane::before {
    background: url(/images/previews/urbanzoom.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .react-chat .preview__info-pane::before {
    background: url(/images/previews/react-chat.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
  .portfolio .preview__info-pane::before {
    background: url(/images/previews/portfolio.png) no-repeat center bottom;
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
}

@media (min-width: 1601px) {
  .preview {
    @include min-square(400px);
  }
  .todo-list .preview__info-pane::before {
    background: url(/images/previews/todolist.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .weight .preview__info-pane::before {
    background: url(/images/previews/weight.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .bubble .preview__info-pane::before {
    background: url(/images/previews/bubble.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .food-logging .preview__info-pane::before {
    background: url(/images/previews/food-logging.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .sat-solver .preview__info-pane::before {
    background: url(/images/previews/sat-solver.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .hypedyn .preview__info-pane::before {
    background: url(/images/previews/hypedyn.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .bitsy .preview__info-pane::before {
    background: url(/images/previews/bitsy.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .pokemania .preview__info-pane::before {
    background: url(/images/previews/pokemania.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .little-lives .preview__info-pane::before {
    background: url(/images/previews/little-lives.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .urbanzoom .preview__info-pane::before {
    background: url(/images/previews/urbanzoom.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .react-chat .preview__info-pane::before {
    background: url(/images/previews/react-chat.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
  .portfolio .preview__info-pane::before {
    background: url(/images/previews/portfolio.png) no-repeat center bottom;
    background-size: 430px 440px;
  }
}
