@import '../colors.scss';
@import '../mixins.scss';

// Content

.index .content {
  @include centralize;
  color: rgba(240, 240, 240, .7);
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 70px 0 100px 0;
  text-align: center;
  width: 100%;
}

.index .inner-content {
  @include centralize;
  display: block;
  margin: auto;
  width: 80vw;
}

// Text

.index .title {
  @include animation(raise .4s ease-in-out both);
}

.index .subtitle {
  @include animation(raise .4s ease-in-out .1s both);
  display: block;
  font-size: .9em;
  font-weight: 400;
}

// Positions

.index .left {
  position: absolute;
  left: 0;
  top: 0;
}

.index .right {
  position: absolute;
  right: 0;
  top: 0;
}

// Background Objects

.object__container--satellite {
  @include animation(float 60s infinite linear both alternate-reverse);
  left: 90%;
  position: absolute;
  top: 80%;
  will-change: transform;
  z-index: 0;
}

.object__container--astronaut {
  @include animation(float 5s infinite ease-in-out both alternate);
  left: 30%;
  position: absolute;
  top: 100%;
  will-change: transform;
  z-index: 0;
}

.object__container--earth, .earth {
  margin: auto;
  overflow: visible;
}

.earth {
  @include animation(raise .4s ease-in-out both);
  @include min-square(10em);
}

.satellite {
  @include animation(rotate 200s infinite linear both alternate-reverse);
  @include min-square(100px);
  will-change: transform;
  z-index: 0;
}

.astronaut {
  @include animation(rotate 100s infinite linear both alternate);
  @include min-square(300px);
  will-change: transform;
  z-index: 0;
}

.rocket {
  @include animation(revolve 20s infinite linear both);
  @include min-square(60px);
  left: 48%;
  position: absolute;
  top: 40%;
  will-change: transform;
  z-index: -1;
}

.stars {
  @include animation(rotate 1000s infinite linear both);
  @include min-square(50vw);
}

// Resume

.resume__link {
  @include animation(raise .4s ease-in-out .2s both);
  display: block;
  margin: 15px auto;
  width: fit-content;
  z-index: 15;
}

.resume__button {
  @include transition(all .3s ease);
  background-color: rgba(126, 87, 194, .7);
  border-radius: 30px;
  color: rgba(240, 240, 240, 1);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 15px;
  z-index: 15;
}

.resume__button:hover {
  background-color: rgba(126, 87, 194, 1);
}

// Gradients

.gradient {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -5;
}

.gradient--morning {
  @include animation(morning 60s linear infinite);
  background: linear-gradient(0deg, #f3825f, #ffe26f);
}

.gradient--noon {
  @include animation(noon 60s linear infinite);
  background: linear-gradient(20deg, #a7425c 0%, #f3825f 100%);
}

.gradient--evening {
  @include animation(evening 60s linear infinite);
  background: linear-gradient(0deg, #563761 0%, #a7425c 100%);
}

.gradient--dusk {
  @include animation(dusk 60s linear infinite);
  background: linear-gradient(0deg, #a7425c 0%, #563761 100%);
}

.gradient--dawn {
  @include animation(dawn 60s linear infinite);
  background: linear-gradient(70deg, #f3825f 0%, #a7425c 100%);
}

// Media Queries

@media (max-height: 400px) {
  .footer__text, .object__container--earth, .stars {
    @include hidden;
    @include max-square(0);
  }
}

@media (max-height: 500px) {
  .earth {
    @include min-square(100px);
  }
}

@media (max-height: 600px) {
  .rocket, .object__container--astronaut, .object__container--satellite {
    @include hidden;
    @include max-square(0);
  }
}

@media (max-width: 1024px) {
  .object__container--astronaut, .object__container--satellite {
    @include hidden;
    @include max-square(0);
  }
}

// Keyframes

@include keyframes(morning) {
  0% { opacity: 1 }
  100% { opacity: 1 }
}

@include keyframes(noon) {
  0% { opacity: 0 }
  15% { opacity: 1 }
  100% { opacity: 0 }
}

@include keyframes (evening) {
  0% { opacity: 0 }
  15% { opacity: 0 }
  30% { opacity: 1 }
  100% { opacity: 0 }
}

@include keyframes(dusk) {
  0% { opacity: 0 }
  30% { opacity: 0 }
  60% { opacity: 1 }
  100% { opacity: 0 }
}

@include keyframes(dawn) {
  0% { opacity: 0 }
  60% { opacity: 0 }
  90% { opacity: 1 }
  100% { opacity: 0 }
}

@include keyframes(float) {
  0% { @include transform(translateX(calc(-115% - 7vw)) translateY(calc(-28vh))) }
  100% { @include transform(translateX(calc(-115% - 7vw)) translateY(calc(-32vh))) }
}

@include keyframes(rotate) {
  100% { @include transform(rotate(-720deg)) }
}

@include keyframes(revolve) {
  0% { @include transform(rotate(0) translateX(-200px) translateY(-200px)) }
  100% { @include transform(rotate(360deg) translateX(-200px) translateY(-200px)) }
}
