// Content

.info .page__content {
  @include animation(raise .4s ease-in-out both);
  padding: 40px 10px;
}

// Jumbotron

.info .jumbotron {
  background: linear-gradient(0deg, $blue 0%, $teal 100%);
}

.info .jumbotron .jumbotron__content {
  z-index: 6;
}

// Image

.info .introduction__image {
  @include animation(raise .4s ease-in-out both);
  @include min-square(10vw);
  border-radius: 50%;
  display: block;
  margin: 5px 10px;
}

.info .introduction__image img {
  object-fit: cover;
}

.info .section__image {
  @include min-square(50px);
  margin-right: 10px;
}

// Introduction

.info__introduction {
  @include align-items(flex-start);
  @include box-shadow(0 4px 8px 0 $shadow-light);
  @include flex-direction(row);
  @include justify-content(center);
  @include use-flex;
  background-color: $backing-lightest;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px 5px;
}

.info__introduction-text {
  @include boost-readability;
  margin: 5px 15px;
  width: calc(90vw - 30px);
}

.info__introduction-text h2 {
  @include animation(raise .4s ease-in-out .1s both);
}

.info__introduction-text h4 {
  @include animation(raise .4s ease-in-out .2s both);
}

.info .section {
  @include align-items(flex-start);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include use-flex;
  margin-bottom: 30px;
}

@for $i from 1 to 6 {
  .info__introduction-text .section:nth-child(#{$i + 3}) {
    @include animation(raise .4s ease-in-out unquote(".#{$i + 1}s") both);
  }
}

// Media Queries

@media (max-width: 500px) {
  .info__introduction,
  .info .section {
    display: block;
  }
  .info .introduction__image {
    @include min-square(80px);
    margin: auto;
  }
  .info__introduction-text h2,
  .info__introduction-text h4 {
    text-align: center;
  }
  .info .section__image {
    display: block;
    margin: auto;
  }
  .info__introduction-text h5 {
    margin: 5px 0;
    text-align: center;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .info__introduction {
    display: block;
  }
  .info .introduction__image {
    @include min-square(80px);
    margin: auto;
  }
  .info__introduction-text h2,
  .info__introduction-text h4 {
    margin-left: 15px;
    text-align: center;
  }
}

@media (min-width: 601px) {
  .info .introduction__image {
    margin: 5px 10px 5px 20px;
  }
}
