@import './colors.scss';
@import './mixins.scss';

.logs .jumbotron {
  background: linear-gradient(0deg, #368852 0%, #8dc26f 100%);
}

.logs .jumbotron .jumbotron__content {
  z-index: 6;
}

.logs .page__content {
  padding: 50px 0 15px 0;
}

.logs .page__container {
  margin: 10px auto;
  max-width: 1200px;
  width: calc(100vw - 20px);
}

.logs .section {
  @include align-items(flex-start);
  @include animation(raise .4s ease-in-out both);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include use-flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}

.logs .section__left {
  margin-left: 5px;
}

.logs .timeline__date {
  @include animation(raise .4s ease-in-out both);
  @include box-shadow(0 2px 4px rgba(0, 64, 128, .2));
  background-color: rgba(240, 240, 240, 1);
  border-radius: 20px;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  font-weight: 500;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  z-index: 6;
}

.logs .timeline__image {
  @include animation(raise .4s ease-in-out both);
  @include box-shadow(0 2px 4px rgba(0, 64, 128, .2));
  @include min-square(50px);
  border-radius: 50%;
  margin: 20px 0 0 5px;
  z-index: 5;
}

.logs .timeline__image img,
.logs .timeline__image svg {
  @include min-square(60px);
  margin-left: -5px;
}

.logs .timeline__line {
  @include animation(raise .4s ease-in-out both);
  @include box-shadow(0 2px 4px 1px rgba(0, 64, 128, .2));
  background-color: #455a64;
  bottom: 0;
  height: 100%;
  left: 33px;
  position: absolute;
  top: 50px;
  width: 4px;
  z-index: 1;
}

@media (max-width: 600px) {
  .logs .timeline__date {
    left: 6px;
    top: -10px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .logs .timeline__date {
    left: 4px;
    top: -10px;
  }
}

@media (min-width: 801px) {
  .logs .timeline__date {
    left: 2px;
    top: -15px;
  }
}
