@import './colors.scss';
@import './mixins.scss';

.logs .jumbotron {
  background: linear-gradient(0deg, #368852 0%, #8dc26f 100%);
}

.logs .jumbotron .jumbotron__content {
  z-index: 6;
}

.logs .page__content {
  padding: 50px 0 15px 0;
}

.logs .page__container {
  margin: 10px auto;
  max-width: 1200px;
  width: calc(100vw - 20px);
}

.logs .section {
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

  animation: raise .4s ease-in-out both;

  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}

.logs .section__left {
  margin-left: 5px;
}

.logs .timeline__date {
  -webkit-box-shadow: 0 2px 4px rgba(0, 64, 128, .2);
  -moz-box-shadow: 0 2px 4px rgba(0, 64, 128, .2);
  box-shadow: 0 2px 4px rgba(0, 64, 128, .2);

  animation: raise .4s ease-in-out both;

  background-color: rgba(240, 240, 240, 1);
  border-radius: 20px;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  font-weight: 500;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  z-index: 6;
}

.logs .timeline__image {
  -webkit-box-shadow: 0 2px 4px rgba(0, 64, 128, .2);
  -moz-box-shadow: 0 2px 4px rgba(0, 64, 128, .2);
  box-shadow: 0 2px 4px rgba(0, 64, 128, .2);

  animation: raise .4s ease-in-out both;

  border-radius: 50%;
  margin-left: 5px;
  margin-top: 20px;
  min-height: 50px;
  min-width: 50px;
  z-index: 5;
}

.logs .timeline__image img,
.logs .timeline__image svg {
  margin-left: -5px;
  min-height: 60px;
  min-width: 60px;
}

.logs .timeline__line {
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 64, 128, .2);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 64, 128, .2);
  box-shadow: 0 2px 4px 1px rgba(0, 64, 128, .2);

  animation: raise .4s ease-in-out both;

  background-color: #455a64;
  bottom: 0;
  height: 100%;
  left: 33px;
  position: absolute;
  top: 50px;
  width: 4px;
  z-index: 1;
}

@media (max-width: 600px) {
  .logs .timeline__date {
    left: 6px;
    top: -10px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .logs .timeline__date {
    left: 4px;
    top: -10px;
  }
}

@media (min-width: 801px) {
  .logs .timeline__date {
    left: 2px;
    top: -15px;
  }
}
