.project .page__content * {
  z-index: 5;
}

.project .page__content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgba(240, 240, 240, .7);
  font-family: 'Roboto', sans-serif;
  line-height: 1.414;
  padding: 1em 0 1em 0;
  margin: auto;
  max-width: 50em;
  text-rendering: optimizeLegibility;
  width: 85vw;
}

.project .project__section {
  padding: 10px 0;
}

.project .section__container {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section__row {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: start;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 10px 0;
}

.project__section .section__title {
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
}

.project__section .section__items {
  padding: 10px 0;
}

.project__section .section__subtitle {
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 600;
  width: fit-content;
}

.project__section .section__items:not(.build):not(.tools):not(.platforms) .section__subtitle {
  margin-bottom: 1em;
}

.project__section .section__item {
  margin-bottom: 1em;
}

.project__section .section__item.tag {
  margin-bottom: 0;
}

.project__section .section__item-icon {
  margin-bottom: -.4em;
  margin-right: 2px;
  min-height: calc(5px + 1.3em);
  min-width: calc(5px + 1.3em);
}

.project__section .section__item-image {

}

.project__section .section__item-label:not(.tag) {
  display: block;
  font-weight: 600;
}

.project__section .section__item-label.tag {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 20px;
  color: #455a64;
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  font-weight: 600;
  line-height: 2.8;
  margin-right: 10px;
  min-width: 36px;
  padding: 4px 8px;
  text-align: center;
}

.project__section .section__item-description {

}

.project__section .section__item-text {
  margin-bottom: 20px;
  margin-top: -10px;
  // text-align: justify;
  width: 100%;
}

.project__actions {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  margin: 1em 0 0 0;
  width: 100%;
}

.project__link {
  display: block;
  margin: 15px 0;
  width: fit-content;
}

.project__button {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

  // background-color: rgba(126, 87, 194, .7);
  border: 2px solid rgba(240, 240, 240, .7);
  border-radius: 30px;
  color: rgba(240, 240, 240, .7);
  cursor: pointer;
  font-size: .8em;
  font-weight: 600;
  padding: 5px 10px;
  white-space: nowrap;
}

.project__button:hover {
  // background-color: rgba(126, 87, 194, 1);
  background-color: rgba(240, 240, 240, 1);
  color: #455a64;
}

@media (max-width: 1000px) {
  .project .section__container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media (min-width: 1001px) {
  .section__items.build,
  .section__items.tools,
  .section__items.platforms {
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;

    max-width: 60%;
  }

  .littlelives .section__items.build,
  .littlelives .section__items.tools,
  .littlelives .section__items.platforms {
    max-width: 45%;
  }
}
