// Content

.project .page__content * {
  z-index: 5;
}

.project .page__content {
  @include boost-readability;
  color: $text-light;
  font-family: 'Roboto', sans-serif;
  line-height: 1.414;
  margin: auto;
  max-width: 50em;
  padding: 1em 0 1em 0;
  width: 85vw;
}

// Section Elements

.project .project__section {
  padding: 10px 0;
}

.project .section__container {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include use-flex;
}

.section__row {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include use-flex;
  margin: 10px 0;
}

.project__section .section__title {
  @include animation(raise .4s ease-in-out both);
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px auto;
  text-align: center;
  width: fit-content;
}

.project__section .section__items {
  padding: 10px 0;
}

.project__section .section__subtitle {
  @include animation(raise .4s ease-in-out .1s both);
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 600;
  width: fit-content;
}

.project__section .section__items:not(.build):not(.tools):not(.platforms) .section__subtitle {
  margin-bottom: 1em;
}

.project__section .section__item {
  margin-bottom: 1em;
}

@for $i from 1 to 11 {
  .project__section .section__item:nth-child(#{$i}) {
    @include animation(raise .4s ease-in-out unquote(".#{$i}s") both);
  }
}

.project__section .section__item.tag {
  margin-bottom: 0;
}

.project__section .section__item-icon {
  @include min-square(calc(5px + 1.3em));
  margin: 0 2px -.4em 0;
}

.project__section .section__item-label:not(.tag) {
  display: block;
  font-weight: 600;
}

.project__section .section__item-label.tag {
  background-color: $backing-lighter;
  border-radius: 20px;
  color: $text-dark;
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  font-weight: 600;
  line-height: 2.8;
  margin-right: 10px;
  min-width: 36px;
  padding: 4px 8px;
  text-align: center;
}

.project__section .section__item-text {
  @include animation(raise .4s ease-in-out .2s both);
  margin-bottom: -10px 0 20px 0;
  width: 100%;
}

// Buttons and Links

.project__actions {
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include normal-render;
  @include use-flex;
  margin: 1em 0 0 0;
  width: 100%;
}

.project__link {
  @include animation(raise .4s ease-in-out .2s both);
  display: block;
  margin: 15px 0;
  width: fit-content;
}

.project__button {
  @include transition(all .3s ease);
  border-radius: 30px;
  border: 2px solid $backing-lighter;
  color: $backing-lighter;
  cursor: pointer;
  font-size: .8em;
  font-weight: 600;
  padding: 5px 10px;
  white-space: nowrap;
}

.project__button:hover {
  background-color: $backing-lighter;
  color: $text-dark;
}

// Media Queries

@media (max-width: 1000px) {
  .project .section__container {
    @include align-items(flex-start);
    @include flex-direction(column);
    @include justify-content(center);
  }
}

@media (min-width: 1001px) {
  .section__items.build,
  .section__items.tools,
  .section__items.platforms {
    @include align-self(flex-start);
    max-width: 60%;
  }
  .littlelives .section__items.build,
  .littlelives .section__items.tools,
  .littlelives .section__items.platforms {
    max-width: 45%;
  }
}
