// Content

.page.project .page__content {
  background: transparent;
}

.project .page__content * {
  z-index: 5;
}

.project .page__content {
  @include boost-readability;
  color: $text-light;
  font-family: 'Roboto', sans-serif;
  line-height: 1.414;
  margin: auto;
  max-width: 50em;
  padding: 1em 0 1em 0;
  width: 85vw;
}

// Section Containers

.project .project__section {
  padding: 10px 0;
}

.project .section__container {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include use-flex;
}

.section__row {
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include use-flex;
  margin: 10px 0;
}

// Section Items

.project__section .section__items {
  padding: 10px 0;
}

.project__section .section__item {
  margin-bottom: 1em;
}

@for $i from 1 to 12 {
  .project__section .section__item:nth-child(#{$i}) {
    @include animation(raise 0.4s ease-in-out unquote('#{$i / 10}s') both);
  }
}

.project__section .section__item.tag {
  margin-bottom: 0;
}

.project__section .section__item-label:not(.tag) {
  display: block;
  font-weight: 600;
}

.project__section .section__item-label.tag {
  background-color: $backing-lighter;
  border-radius: 20px;
  color: $text-dark;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 2.8;
  margin-right: 10px;
  min-width: 36px;
  padding: 4px 8px;
  text-align: center;
}

// Section Text

.project__section .section__title {
  @include animation(raise 0.4s ease-in-out both);
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px auto;
  text-align: center;
  width: fit-content;
}

.project__section .section__subtitle {
  @include animation(raise 0.4s ease-in-out 0.1s both);
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 600;
  width: fit-content;
}

.project__section
  .section__items:not(.build):not(.tools):not(.platforms)
  .section__subtitle {
  margin-bottom: 1em;
}

.project__section .section__item-text {
  @include animation(raise 0.4s ease-in-out 0.2s both);
  margin-bottom: -10px 0 20px 0;
  width: 100%;
}

// Buttons and Links

.project__actions {
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include normal-render;
  @include use-flex;
  margin: 1em 0 0 0;
  width: 100%;
}

.project__link {
  @include animation(raise 0.4s ease-in-out 0.2s both);
  display: block;
  margin: 15px 0;
  width: fit-content;
}

.project__button {
  @include transition(all 0.3s ease);
  border-radius: 30px;
  border: 2px solid $backing-lighter;
  color: $backing-lighter;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  padding: 5px 10px;
  white-space: nowrap;
}

.project__button:hover {
  background-color: $backing-lighter;
  color: $text-dark;
}

.project .section__item-link {
  @include align-items(flex-start);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include transition(all 0.2s ease);
  @include use-flex;
  color: $text-light;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.project .section__item-link:not(.disabled) {
  background-color: $backing-dark;
}

.project .section__item-link:not(.disabled):hover {
  background-color: $backing-light;
  color: $text-dark;
}

// Images

.project__section .section__item-icon {
  @include min-square(calc(5px + 1.3em));
  margin: 0 2px -0.4em 0;
}

.project .team .section__item-image {
  @include min-square(3.5em);
  border-radius: 50%;
  margin-right: 1em;
}

.project .references .section__item-image {
  @include min-square(4em);
  margin-right: 1em;
}

.project .section__flying-carpet {
  min-height: 15em;
}

.project .section__flying-carpet,
.project .section__item-image {
  @include box-shadow(0 4px 8px 0 $shadow-dark);
  border-radius: 0.4em;
}

.section__flying-carpet-image {
  height: 170vw;
  min-height: 170vw;
  min-width: 85vw;
  width: 85vw;
}

// Media Queries

@media (max-width: 1000px) {
  .project .section__container {
    @include align-items(flex-start);
    @include flex-direction(column);
    @include justify-content(center);
  }
}

@media (min-width: 800px) {
  .project .section__sub-row {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include use-flex;
  }
}

@media (min-width: 1001px) {
  .section__items.build,
  .section__items.tools,
  .section__items.platforms {
    @include align-self(flex-start);
    max-width: 60%;
  }
  .littlelives .section__items.build,
  .littlelives .section__items.tools,
  .littlelives .section__items.platforms {
    max-width: 45%;
  }
  .section__flying-carpet-image {
    min-height: 100em;
    height: 100em;
    min-width: 50em;
    width: 50em;
  }
}

// General Section Images

.project .design .section__item-image,
.project .features .section__item-image {
  @include animation(raise 0.4s ease-in-out 0.2s both);
  @include min-square(85vw);
  margin: 10px 0;
}

.project .design .section__item-image--fallback,
.project .features .section__item-image--fallback {
  @include min-square(85vw);
}

@media (min-width: 800px) {
  .project .features .section__item-image,
  .project .design .section__item-image {
    @include min-square(300px);
    margin: -2.1em 0 0 1em;
  }
  .project .features .section__item-image--fallback,
  .project .design .section__item-image--fallback {
    @include min-square(300px);
  }
  .project .features .section__sub-row,
  .project .design .section__sub-row {
    @include flex-direction(row-reverse);
  }
}

// Custom Sections

.project.bitsy .design .section__item-image,
.project.ethereum-explorer .design .section__item-image,
.project.littlelives .design .section__item-image,
.project.pokemania .design .section__item-image {
  @include animation(raise 0.4s ease-in-out 0.2s both);
  margin: 10px 0;
  min-height: 52.15vw;
  min-width: 85vw;
}

.project.bitsy .features .section__item-image {
  @include animation(raise 0.4s ease-in-out 0.2s both);
  @include min-square(85vw);
  margin: 10px 0;
}

.project.bitsy .design .section__item-image--fallback,
.project.ethereum-explorer .design .section__item-image--fallback,
.project.littlelives .design .section__item-image--fallback,
.project.pokemania .design .section__item-image--fallback {
  min-height: 52.15vw;
  min-width: 85vw;
}

.project.bitsy .features .section__item-image--fallback {
  @include min-square(85vw);
}

@media (min-width: 800px) {
  .project.bitsy .design .section__item-image,
  .project.ethereum-explorer .design .section__item-image,
  .project.littlelives .design .section__item-image,
  .project.pokemania .design .section__item-image {
    margin: 5px 0 1em;
    min-height: 52.15vw;
    min-width: 85vw;
  }
  .project.bitsy .features .section__item-image {
    @include min-square(300px);
    margin: -2.1em 0 0 1em;
  }
  .project.bitsy .design .section__item-image--fallback,
  .project.ethereum-explorer .design .section__item-image--fallback,
  .project.littlelives .design .section__item-image--fallback,
  .project.pokemania .design .section__item-image--fallback {
    min-height: 52.15vw;
    min-width: 85vw;
  }
  .project.bitsy .features .section__item-image--fallback {
    @include min-square(300px);
  }
  .project.bitsy .design .section__sub-row,
  .project.ethereum-explorer .design .section__sub-row,
  .project.littlelives .design .section__sub-row,
  .project.pokemania .design .section__sub-row {
    @include flex-direction(column);
  }
  .project.bitsy .features .section__sub-row {
    @include flex-direction(row-reverse);
  }
}

@media (min-width: 1080px) {
  .project.bitsy .design .section__item-image,
  .project.ethereum-explorer .design .section__item-image,
  .project.littlelives .design .section__item-image,
  .project.pokemania .design .section__item-image {
    min-height: 31.3em;
    min-width: 50em;
  }
  .project.bitsy .design .section__item-image--fallback,
  .project.ethereum-explorer .design .section__item-image--fallback,
  .project.littlelives .design .section__item-image--fallback,
  .project.pokemania .design .section__item-image--fallback {
    min-height: 31.3em;
    min-width: 50em;
  }
}
