// Jumbotron

.work .jumbotron {
  background: linear-gradient(0deg, $purple 0%, $peach 100%);
}

.work .jumbotron .jumbotron__content {
  z-index: 6;
}

// Content

.work .page__content {
  padding: 10px 0;
}

.work .page__container {
  margin: 10px auto;
  max-width: 1600px;
  width: calc(100vw - 10px);
}

// Gallery

.work__gallery {
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include use-flex;
  padding: 10px 0;
}

@for $i from 1 to 13 {
  .work__gallery .preview:nth-child(#{$i}) {
    @include animation(raise .4s ease-in-out unquote("#{($i - 1) * 50}ms") both);
  }
}

.work__gallery .preview {
  @include box-shadow(0 4px 8px 0 $shadow-light);
  @include transition(box-shadow .3s ease-in-out);
}

.work__gallery .preview:hover {
  @include box-shadow(0 8px 16px 0 $shadow-light);
}

// Media Queries

@media (min-width: 801px) {
  .background-wave {
    top: 200px;
  }
}
