// Jumbotron

.work .jumbotron {
  background: linear-gradient(0deg, $purple 0%, $peach 100%);
}

.work .jumbotron .jumbotron__content {
  z-index: 6;
}

// Content

.work .page__content {
  padding: 10px 0;
}

.work .page__container {
  @include justify-content(center);
  @include use-flex;
  margin: 10px auto;
  width: calc(100vw - 20px);
}

// Gallery

.work__gallery {
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include use-flex;
  max-width: 1600px;
  padding: 10px 0;
}

@for $i from 1 to 15 {
  .work__gallery .preview:nth-child(#{$i}) {
    @include animation(
      raise 0.4s ease-in-out unquote('#{($i - 1) * 50}ms') both
    );
  }
}

.work__gallery .preview {
  @include box-shadow(0 4px 8px 0 $shadow-light);
  @include transition(box-shadow 0.3s ease-in-out);
}

.work__gallery .preview:hover {
  @include box-shadow(0 8px 16px 0 $shadow-light);
}

// Preview Thumbs

.work .preview__info-pane::before {
  background-attachment: center;
  background-position: bottom;
  background-repeat: no-repeat;
}

.todo-list .preview__info-pane::before {
  background-image: url(/images/previews/todolist.jpg);
}
.weight .preview__info-pane::before {
  background-image: url(/images/previews/weight.jpg);
}
.bubble .preview__info-pane::before {
  background-image: url(/images/previews/bubble.jpg);
}
.food-logging .preview__info-pane::before {
  background-image: url(/images/previews/food-logging.jpg);
}
.sat-solver .preview__info-pane::before {
  background-image: url(/images/previews/sat-solver.jpg);
}
.hypedyn .preview__info-pane::before {
  background-image: url(/images/previews/hypedyn.jpg);
}
.bitsy .preview__info-pane::before {
  background-image: url(/images/previews/bitsy.jpg);
}
.pokemania .preview__info-pane::before {
  background-image: url(/images/previews/pokemania.jpg);
}
.little-lives .preview__info-pane::before {
  background-image: url(/images/previews/little-lives.jpg);
}
.urbanzoom .preview__info-pane::before {
  background-image: url(/images/previews/urbanzoom.jpg);
}
.react-chat .preview__info-pane::before {
  background-image: url(/images/previews/react-chat.jpg);
}
.portfolio .preview__info-pane::before {
  background-image: url(/images/previews/portfolio.jpg);
}
.whatsapp-widgets .preview__info-pane::before {
  background-image: url(/images/previews/whatsapp-widgets.jpg);
}
.ethereum-explorer .preview__info-pane::before {
  background-image: url(/images/previews/ethereum-explorer.jpg);
}

// Media Queries

@media (min-width: 801px) {
  .background-wave {
    top: 200px;
  }
}

@media (max-width: 640px) {
  .work__gallery {
    width: calc(80vw + 40px);
  }
}

@media (min-width: 641px) and (max-width: 1400px) {
  .work__gallery {
    width: calc((40vw + 40px) * 2);
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .work__gallery {
    width: calc((25vw + 40px) * 3);
  }
}

@media (min-width: 1601px) {
  .work__gallery {
    width: calc((400px + 40px) * 3);
  }
}

// Thumbs Media Queries

@media (max-width: 640px) {
  .preview {
    @include min-square(80vw);
  }
  .preview__info-pane::before {
    background-size: calc(80vw + 30px) calc(80vw + 40px);
  }
}

@media (min-width: 641px) and (max-width: 1400px) {
  .preview {
    @include min-square(40vw);
  }
  .preview__info-pane::before {
    background-size: calc(40vw + 30px) calc(40vw + 40px);
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .preview {
    @include min-square(25vw);
  }
  .preview__info-pane::before {
    background-size: calc(25vw + 30px) calc(25vw + 40px);
  }
}

@media (min-width: 1601px) {
  .preview {
    @include min-square(400px);
  }
  .preview__info-pane::before {
    background-size: 430px 440px;
  }
}
